:root {
    --accent: #901AC9;
    --text: #fff;
    --invertedText: #2A282C;
    --background: #2A282C;
    --secondBackground: #C7B3E1;
    --columnBackground: #c7b3e150;
}

html {
    background-color: var(--background);
    color: var(--text);
}

.title__project {
    text-align: center;
    margin-top: 39px;
    margin-bottom: 90px;
}

.title__task {
    font-size: 26px;

    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
}

.tasks {
    display: flex;
    justify-content: space-evenly;
}

.taskColumn {
    background-color: var(--columnBackground);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 390px;
    padding: 15px 0;
}

.group__project {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    list-style: none;
}

.group__task {
    display: flex;
    flex-direction: column;

    list-style: none;

    margin: 10px 0;
    padding: 0;
}

.card__project {
    background-color: var(--secondBackground);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 390px;
    padding: 10px;
    border-radius: 3px;
}

.card__task {
    background-color: var(--secondBackground);
    color: var(--invertedText);

    margin: 15px 0;
    padding: 10px;
    
    width: 339px;
    border-radius: 3px;
}

.link__project {
    color: var(--invertedText);
    text-decoration: none;
}

.link__project:hover {
    text-decoration: underline;
}

.description {
    margin: 60px 0;
    text-align: center;
}

.description__wip {
    font-weight: bold;
}

.description__done{
    text-decoration: line-through;
}

.menu__task {
    display: flex;
    justify-content: space-evenly;
}

.button {
    display: block;
    padding: 10px 0;
    min-width: 90px;
    max-width: 120px;

    border-radius: 6px;
    text-decoration: none;
    text-align: center;
}

.button__primary {
    background-color:  var(--accent);
    color: var(--text);
}

.button__secondary {
    background-color: var(--secondBackground);
    color: var(--accent);
    border: solid 2px var(--accent);
}

.button__tertiary {
    background-color: var(--background);
    color: var(--secondBackground);
    border: solid 1px var(--secondBackground);
}

.form__project {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    width: 600px;
    
    margin: 90px auto;
}

.form__task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;

    margin: 90px auto;
}

.name__project {
    width: 50%;
}