{% extends "base.html" %}

{% block content %}
<div class="">
    <section class="">
        <p>to do</p>
        <ul>
        {% if tasks != None %}
        {% for t in tasks %}
            {% if not t[2] and not t[3] %}
            <li>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        <p>No tasks at hand...</p>
        {% endif %}
        <a href="/task?project={{projectId}}">Create</a>
    </section>
    <section>
        <p>WIP</p>
        <ul>
        {% if tasks != None %}
        {% for t in tasks %}
            {% if t[2] %}
            <li>
            </li>
            {% endif %}
        {% endfor %}
        {% endif %}
        </ul>
    </section>
    <section>
        <p>DONE</p>
        <ul>
        {% if tasks != None %}
        {% for t in tasks %}
            {% if t[3] %}
            <li>
                <div class=""></div>
            </li>
            {% endif %}
        {% endfor %}
        {% endif %}
        </ul>
    </section>
</div>
{% endblock %}