{% extends "base.html" %}

{% block content %}
<a href="/">back to projects</a>
<div class="">
    <p>{{ name }}</p>
    <section class="">
        <p>to do</p>
        <ul>
        {% if tasks != None %}
        {% for t in tasks %}
            {% if not t[2] and not t[3] %}
            <li>
                <div class="">
                    <p> {{ t[1] }} </p>
                    <div>
                        <a href="/deletTask?task={{ t[0] }}">delet</a>
                        <a href="/updateTask?task={{ t[0] }}&field=progress">in progress</a>
                        <a href="/updateTask?task={{ t[0] }}&field=done">done</a>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        <p>No tasks at hand...</p>
        {% endif %}
        <a href="/task?project={{ project }}">add new</a>
    </section>
    <section>
        <p>WIP</p>
        <ul>
        {% if tasks != None %}
        {% for t in tasks %}
            {% if t[3] %}
            <li>
                <div class="">
                    <p>{{ t[1] }}</p>
                    <div>
                        <a href="/deletTask?task={{ t[0] }}">delet</a>
                        <a href="/updateTask?task={{ t[0] }}&field=done">done</a>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        {% endif %}
        </ul>
    </section>
    <section>
        <p>DONE</p>
        <ul>
        {% if tasks != None %}
        {% for t in tasks %}
            {% if t[2] %}
            <li>
                <div class="">
                    <p>
                        {{ t[1] }}
                    </p>
                    <div>
                        <a href="/deletTask?task={{ t[0] }}">delet</a>
                        <a href="/updateTask?task={{ t[0] }}&field=progress">in progress</a>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        {% endif %}
        </ul>
    </section>
</div>
{% endblock %}